<?xml version="1.0" ?>
<robot name="khi_ux150" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find khi_ux150_description)/urdf/khi_ux150_macro.xacro"/>

  <!-- instantiate ux150 -->
  <xacro:khi_ux150 prefix=""/>

  <!-- Fix ux150 to world -->

  <link name="world"/>

  <joint name="world2base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>