<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="khi_ux150">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import khi_ux150 urdf file -->
    <xacro:include filename="$(find khi_ux150_description)/urdf/khi_ux150.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="khi_ux150.ros2_control.xacro" />


    <xacro:khi_ux150_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
