<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="khi_ux150_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="jt1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jt1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jt2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jt2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jt3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jt3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jt4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jt4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jt5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jt5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jt6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jt6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
